@charset "UTF-8";

/*** header ***/
header {
	
	width: 100%;
	height: 67px;
	background-image: url("../images/commons/header_bg.png");
	background-repeat: repeat-x;
}

header > div{
	
	width: 65%;
	height: 100%;
	margin: 0 auto;
	
}

.logo {
	/* border: 1px solid red; */
	/* 13px 0*/
	padding: 4px 0;
	box-sizing: border-box;
	float: left;
}

.logo > img {
	width: 160px;
	height: auto;
}

nav{
	color: white;
	float: left;
	margin-left: 80px;
}

.main_menu > li{
	list-style: none;
	float: left;
	margin-right: 50px;
	line-height: 67px;
}

.main_menu > li > a{
	font-weight: bold;
}


/*** main ***/

.main {
	
	width: 65%;
	height: 800px;	
	margin: 70px auto 150px auto;
	
}

.main > div:first-child{
	
	background-color: yellow;
	height: 400px;
	margin-bottom: 20px;
}

.main > div:last-child{
	
	background-color: gray;
	height: 380px;
}


/*** footer ***/
footer {
	
	width: 100%;
	height: 150px;
	background-color: green;
	padding-top: 20px;
	box-sizing: border-box;
	
}

footer > div {
	
	width: 65%;
	height: 130px;
	background-color: pink;
	margin: 0 auto;
}

